<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        Column 1
      </ion-col>

      <ion-col>
        Column 2
      </ion-col>

      <ion-col>
        Column 3
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        Some other text.Some other text.Some other text.
      </ion-col>
      <ion-col>
        The other sample text.The other sample text.The other sample text.
      </ion-col>
      <ion-col>
        The other other sample text.The other other sample text.The other other sample text.
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
