<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tabzz
    </ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Title</ion-card-title>
      <ion-card-subtitle>Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
  <ion-button expand="full">Some Button</ion-button>
  

</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
